.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f5f5f5;
  padding: 75px 15px;
}

.aboutSection p {
  margin: 30px 0;
}

.devSection {
  display: grid;
  grid-template-columns: repeat(1, 250px);
  justify-items: center;
}

.devItem {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 20px;
}
.devItem h3 {
  margin: 20px 0;
}
.devItem p {
  line-height: 24px;
  margin: 10px 0;
}
@media only screen and (min-width: 512px) {
  .devSection {
    grid-template-columns: repeat(2, 250px);
  }
}@media only screen and (min-width: 1024px) {
  .devSection {
    grid-template-columns: repeat(4, 250px);
  }
}
