.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  text-align: center;
}

.contactSection form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.contactSection input, textarea {
  margin: 5px 0;
}

@media only screen and (min-width: 768px) {
  .contactSection form {
    width: 500px;
  }
  .contactSection input, textarea {
    margin: 10px;
  }
}