.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.contact-section input, textarea {
  margin: 5px 0;
}

@media only screen and (min-width: 768px) {
  .contact-section form {
    width: 500px;
  }
  .contact-section input, textarea {
    margin: 10px;
  }
}