.navbar {
  display: none;
}

.navbar.sticky {
  transition: 0.5s;
  position: fixed;
  top: 0;
  background-color: var(--navbar-color);
}
.navbar.sticky .nav-link {
  color: white;
}

.navbar .nav-link {
  margin-right: 30px;
  padding: 5px 0 0 0;
  font-size: 18px;
  line-height: 18px;
  /* color: white; */
}
.navbar .nav-link::after {
  content: "";
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  width: 0;
  border-bottom: solid 2px black;
  transition: 0.5s ease;
}
.navbar.sticky .nav-link::after {
  border-bottom: solid 2px white;
}
.App.hasHover .navbar .nav-link:hover::after {
  width: 100%;
}

@media only screen and (min-width: 450px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 100%;
    /* top: 100vh; */
  }
}