.navbar {
  display: none;
}

.navbar.sticky {
  transition: 0.5s;
  position: fixed;
  top: 0;
  background-color: var(--navbar-color);
}
.navbar.sticky .nav-link {
  color: white;
}

.navbar p {
  margin-right: auto;
  margin-left: 20px;
}

.navbar .nav-link {
  margin-right: 20px;
  padding: 0;
  /* color: white; */
}

@media only screen and (min-width: 450px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 100%;
    /* top: 100vh; */
  }
}