.projectShowcase {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.projectSection {
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
@media only screen and (max-width: 450px) {
  .projectSection {
    padding-top: 50px;
  }
} */

/* @media only screen and (min-width: 768px) {
  .projectShowcase {
    width: 100%;
  }
} */
