.project {
  display: flex;
  flex-direction: row;
  margin-top: 40px; 
}

.projectThumbnail {
  position: relative;
  height: 350px;
  width: 350px;  
}
.projectThumbnail img {
  height: 100%;
  width: 100%;
}

.blur {
  filter: blur(2px);
}

.projectThumbnail img, .overlay {
  transition: 0.5s all;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  padding: 0;
  margin: 0;
}
.active {
  opacity: 1;
}

.demoLink {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  border: 1px solid white;
  width: 100px;
  height: 35px;
  color: white;
}

.projectName {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 25px;
  font-size: 20px;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-left: 20px;
  width: 380px;
}

.projectDesc {
  line-height: 25px;
  font-size: 18px;
  text-align: left;
  width: 100%;
}

.techStack {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 40px; */
  justify-content: space-evenly;
  margin: 0;
  padding: 0 0 32px 0;
  list-style: none;
}

.techStack li, .techIcon {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 730px) {
  .project {
    flex-direction: column;
    align-items: center;
  }
  .projectThumbnail {
    height: 250px;
    width: 250px;
  }
  .projectDesc {
    width: 250px;
    text-align: center;
    padding: 0;
    margin: 0 0 45px 0;
  }
  .projectDetails {
    padding: 10px 0 0 0;
    width: 250px;
  }
  .techStack {
    padding: 0;
  }
}