* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: absolute;
  height: 100vh;
  width: 100%;
  min-width: 300px;
  --navbar-color: #252934;
  --navbar-content-color: #e6e6e6;
}

nav {
  z-index: 1;
}

main {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

main > section {
  min-height: 100vh;
}

p, button {
  font-size: 16px;
  line-height: 16px;
  outline: none;
}

button {
  background: none;
  border: none;
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0; 
  width: 100%;
  height: 50px;
  font-size: 32px;
  line-height: 32px;
}
.sectionHeader::after {
  content: "";
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  width: 100px;
  border-bottom: solid 4px black;
}

.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }
.material-icons-outlined.md-60 { font-size: 60px; }


@media only screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* @media screen and (max-width: 450px) {
  .sectionHeader {
    font-size: 24px;
  }
} */
