* {
  box-sizing: border-box;
}

body {
  position: absolute;
  height: 100vh;
  width: 100%;
  min-width: 300px;
}

main {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

p, button {
  font-size: 16px;
  line-height: 16px;
}