* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: absolute;
  height: 100vh;
  width: 100%;
  min-width: 300px;
}

nav {
  z-index: 1;
}

main {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

p, button {
  font-size: 16px;
  line-height: 16px;
  outline: none;
}

button {
  background: none;
  border: none;
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0; 
  width: 60%;
  border-bottom: solid 4px black;
  height: 50px;
  /* line-height: 50px; */
  font-size: 32px;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media screen and (max-width: 450px) {
  .sectionHeader {
    font-size: 24px;
  }
}

@media screen and (min-width: 450px) {
  .sticky + .content {
    padding-top: 30px;
  }
}